{% extends 'base/base_header.html' %}
{% load static %}

{% block title %}СКБ КБ - Другое{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content_block_0 %}
    <h1><a href="{% url 'main' %}">СКБ КБ</a>  ->  Другое</h1>
{% endblock %}

{% block content_block_01 %}
    <div class="content-block-01">
        <a class="base-link link-1 border-10" href="{% url 'admin' %}">
            <h1>Администратору</h1>
        </a>
    </div>
{% endblock %}