logs/
/deploy/
/ios/assets/
/annotations/build/
/annotations/out/
/net/build/
/tools/build/
/tests/build/
/server/build/
/test_files/
/desktop-sdl/build/
desktop-sdl/build/
ios/robovm.properties
packr-out/
config/
*.gif

version.properties

.attach_*

## Java
*.class
*.war
*.ear
hs_err_pid*
crash-report-*
replay_pid*

## OS Specific
.DS_Store
Thumbs.db
desktop.ini

__pycache__/
.venv/
BackData/
config/local/
*.db
*.sqlite
*.sqlite3
*.log
*.tmp
*.bak
*.swp


.idea/
.vscode/
.pycache/
*.iml

CompilerManager/

MGPCompiling/
/build/
/dist/
*.spec.bak

MGPBrowser/
*.spec

resources/

*.ui
# ===============================
# Optional: media cache
# ===============================
/MGProjectRU25/ProjectFile.json
/MGProjectRU25/ProjectFileView.json
/TemplateProject/unittestdir/TestMetaDataSSUtils/DSDocFile.json
/TemplateProject/unittestdir/TestStructureUtils/SUMainDir/DSDocFile.json
/TemplateProject/unittestdir/TestMetaDataSSUtils/FSDocFile.json
/TemplateProject/unittestdir/TestStructureUtils/SUMainDir/FSDocFile.json

RecognizingRU24/Models/
/TemplateProject/unittestdir/TestStructureUtils/SUMainDir/Name.json
/MGProjectRU25/StructureFile.json

TestApp/

runtime_tmp
AetherRunPySide6
MainProjectApp
WorkArduinoComPort
WorkDataBase
WorkFolderCheckSizeManage
WorkGameNetManage
WorkMSWord
WorkSecurePyApp
WorkTextWorldModel
WorkTurtleProject
WorkUserAuth
TemplateData/
*.json

ExperimentalProjectWork
.env
templates
static
media