{% extends 'base/base_header.html' %}
{% load static %}

{% block title %}МЗП - Трекер зелёных заданий{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}

{% block content_block_0 %}
    <h1>
        МЗП ->
        <a href="{% url 'profile' %}">Профиль</a> ->
        <a href="{% url 'profile' %}">Трекер задания: "pk"</a> ->
        <a href="{% url 'eco_tasks_tracker' %}">Трекер задания: "pk"</a> ->
        Детали задания
    </h1>
{% endblock %}

{% block content_block_1 %}

{% endblock %}
