{% extends 'base/base_header.html' %}
{% load static %}

{% block title %}МЗП - Главная - Зелёный Вуз - Экологические привычки - Детали (конкретной привычки){% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock %}

{% block content_block_0 %}
        <h1>МЗП -> <a href="{% url 'main' %}">Главная</a> - Категория: "Зелёный Вуз" - <a href="{% url 'eco_habits' %}">ЭкоПривычка: "pk2"</a> - Детали</h1>
{% endblock %}

{% block content_block_1 %}

{% endblock %}
