
.header-block-1, .header-block-2, .header-block-3 {
    display: flex;
    align-items: center;
    background-color: var(--header-block-2-background-color);
}

.header-block-1 {
    margin-left: 173px;
    margin-right: 74px;
    z-index: 2;
}

.header-block-2 {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 60px;
    height: 90px;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header-block-3 {
    margin-left: 74px;
    margin-right: 173px;
    z-index: 2;
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(28,196,193,0);
    z-index: 1;
}

.background_line {
    width: 1905px;
    height: 100px;
    position: absolute;
    top: 57px;
    background-color: rgb(126,36,124);
    z-index: 0;
}

.background_line_2 {
    width: 214px;
    height: 100px;
    position: absolute;
    top: 57px;
    background-color: rgba(126,36,124, 47%);
    transition: background 0.1s ease;
    z-index: 1;
}

.background_line_2:hover {
    background-color: rgba(126,36,124, 0%);
}

.con-1, .con-2 {
    font-size: 24px;
    position: absolute;
    color: black;
    right: 50%;
    height: 90px;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.con-1 {
    top: 16px;
    left: 31%;
}

.con-2 {
    width: 400px;
    right: 24%;
    top: 160px;
}

.base-link {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 225px;
    /*padding: 0 16px;*/
    margin: 9px;
    height: 48px;

    /*color: var(--color-base-link);*/
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3); /* небольшая тень */
}

.link-1 {
    background-color: rgb(0,135,151);
}

.link-2 {
    background-color: rgb(21,135,129);
}

.link-3 {
    background: var(--backgroundcolor-base-link);
}

.link-4 {
    background: var(--backgroundcolor-base-link);
    width: 300px;
}

.border-10 {
    border-radius: 10px;
}

.header-block-2 a {
    height: 100%;
}

.base-link::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    pointer-events: none; /* чтобы не мешал клику */
    transition: background 0.1s ease;
}

.base-link:hover::after {
    background: rgba(0, 0, 0, 0.2); /* лёгкое затемнение */
}

.base-link:active {
    transform: translate(3px, 3px); /* лёгкий сдвиг */
}

.base-link:active::after {
    background: rgba(255, 255, 255, 0.5); /* сильнее затемнение */
}

h1:active {
    color: white;
}